@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .sidebar{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

main .sidebar .top, .bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


main .sidebar .top .home-link, .profile-link, .liked-posts-link {
    gap: 20px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

main .sidebar .bottom .logout{
    gap: 20px;
    display: flex;
    padding: 20px;
    font-weight: bold;
    align-items: center;
}

main .sidebar .top a, .bottom a{
    color: white;
    text-decoration: none;
}

main .bottom .user-profile{
    gap: 20px;
    display: flex;
    padding: 20px;
    color: white;
}

main .bottom .user-profile .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .bottom .user-profile .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .sidebar .top p{
    font-weight: bold;
}

main .main{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main .main .hero{
    width: 100%;
    height: 10%;
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

main .main .hero input[type="text"]{
    width: 50%;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #202327;
}

main .main .new-post{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

main .main .new-post .post-creation{
    gap: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

main .main .new-post .post-creation #new-post{
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #000000;
}

main .main .new-post .post-creation .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .main .new-post .post-creation .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .main .new-post .additional-post-info{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main .new-post .additional-post-info input[type="file"]{
    display: none;
}

main .main .new-post .additional-post-info button{
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #1D9BF0;
}

main .main .posts{
    width: 100%;
    height: 70%;
    color: white;
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main .main .posts::-webkit-scrollbar{
    display: none;
}

main .main .posts .post{
    gap: 30px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

main .main .posts .post .user-profile .image{
    width: 50px;
    height: 50px;
}

main .main .posts .post .user-profile .image img{
    width: 100%;
    height: 100%;
}

main .main .posts .post .content{
    gap: 15px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

main .main .posts .post a .title{
    gap: 10px;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

main .main .posts .post .content .info-image{
    width: 100%;
    height: 300px;
    border-radius: 36px;
}

main .main .posts .post .content .info-image img{
    height: 100%;
    width: 100%;
    border-radius: 36px;
}

main .main .posts .post .content .info-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main .posts .post .content .info-icons .comments, .likes{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

main .followers .search{
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers .search input[type="text"]{
    width: 80%;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #202327;
}

main .followers .users{
    width: 80%;
    height: 85%;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #202327;
}

main .followers .users .title{
    height: 10%;
    padding: 20px;
    align-self: flex-start;
}

main .followers .users .user-container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main .followers .users .user-container .follower{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .followers .users .user-container .follower .image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

main .followers .users .user-container .follower .image img{
    width: 100%;
    height: 100%;
}

main .followers .users .user-container .follower .name .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers .users .user-container .follower .view-profile button{
    border: none;
    cursor: pointer;
    color: #000000;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: white;
}

.icon{
    color: white;
    font-weight: bold;
}



@media screen and (max-width: 1024px) {
    main .followers{
        display: none;
    }

    main .main{
        width: 70%;
    }

    main .main .new-post{
        height: 25%;
    }

    main .sidebar{
        width: 30%;
    }
}


@media screen and (max-width: 768px) {
    main{
        flex-direction: column-reverse;
    }

    main .main{
        width: 100%;
        height: 93%;
    }

    main .main .new-post{
        height: 25%;
    }

    main .followers{
        display: none;
    }

    main .sidebar{
        width: 100%;
        height: 7%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    main .sidebar a p{
        display: none;
    }
    main .sidebar .top{
        padding-top: 30px;
        flex-direction: row;
        justify-content: center;
    }
    main .sidebar .top .home-link, .profile-link, .liked-posts-link{
        flex-direction: column;
    }
    main .sidebar .bottom .user-profile{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    main .main .posts .post .content .title small {
        display: none;
    }
}

.loader {
    width: 1em;
    opacity: 1;
    height: 1em;
    font-size: 20px;
    color: #ffffff;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
