@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .sidebar{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

main .sidebar .top, .bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


main .sidebar .top .home-link, .profile-link, .liked-posts-link {
    gap: 20px;
    display: flex;
    padding: 20px;
    align-items: center;
}

main .sidebar .bottom .logout{
    gap: 20px;
    display: flex;
    padding: 20px;
    font-weight: bold;
    align-items: center;
}

main .sidebar .top a, .bottom a{
    color: white;
    text-decoration: none;
}

main .bottom .user-profile{
    gap: 20px;
    display: flex;
    color: white;
    padding: 20px;
}

main .bottom .user-profile .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .bottom .user-profile .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .sidebar .top p{
    font-weight: bold;
}

main .main{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main .main .hero{
    width: 100%;
    height: 5%;
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

main .main .post{
    gap: 20px;
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid white; */
}


main .main .post .user-profile .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .main .post .user-profile .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


main .main .post .content{
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main .main .post .content .title{
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .main .post .content .info-image{
    width: 100%;
    height: 300px;
    border-radius: 36px;
}

main .main .post .content .info-image img{
    width: 100%;
    height: 100%;
    border-radius: 36px;
}

main .main .post .content .info-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main .post .content .info-icons .comments, .likes, .unlike{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main .post .content .info-icons .unlike{
    cursor: pointer;
}

main .main .post-comments{
    width: 100%;
    height: 45%;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}


main .main .post-comments .title{
    padding: 20px;
}

main .main .post-comments .new-comment .comment-creation{
    gap: 10px;
    width: 100%;
    padding: 20px;
    /* margin-left: 20px; */
    display: flex;
    /* border-radius: 10px; */
    align-items: center;
    /* border: 1px solid white; */
    border-top: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

main .main .post-comments .new-comment .comment-creation .left, .right{
    width: 1    0%;
}

main .main .post-comments .new-comment .comment-creation .middle{
    width: 60%;
}

main .main .post-comments .new-comment .comment-creation .middle input[type="text"]{
    width: 100%;
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #000000;
}

main .main .post-comments .new-comment .comment-creation .left button{
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #1D9BF0;
}

main .main .post-comments .new-comment .comment-creation .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .main .post-comments .new-comment .comment-creation .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .main .post-comments .comment-list{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main .main .post-comments .comment-list::-webkit-scrollbar{
    display: none;
}

main .main .post-comments .comment-list .cmnt{
    gap: 30px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    /* justify-content: center; */
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

main .main .post-comments .comment-list .cmnt .profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .main .post-comments .comment-list .cmnt .profile img{
    width: 100%;
    height: 100%;
}

main .main .post-comments .comment-list .cmnt .title{
    gap: 10px;
    padding: 0;
    display: flex;
    align-items: center;
}

main .main .post-comments .comment-list .cmnt .info-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main .post-comments .comment-list .cmnt .info-icons .comments, .likes{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

main .followers .search{
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers .search input[type="text"]{
    width: 80%;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #202327;
}

main .followers .users{
    width: 80%;
    height: 85%;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #202327;
}

main .followers .users .title{
    height: 10%;
    padding: 20px;
    align-self: flex-start;
}

main .followers .users .user-container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main .followers .users .user-container .follower{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .followers .users .user-container .follower .image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

main .followers .users .user-container .follower .image img{
    width: 100%;
    height: 100%;
}

main .followers .users .user-container .follower .name .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .followers .users .user-container .follower .view-profile button{
    border: none;
    cursor: pointer;
    color: #000000;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: white;
}

.icon{
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    main .followers{
        display: none;
    }

    main .main{
        width: 70%;
        border-right: 1px solid white;
    }

    main .sidebar{
        width: 30%;
    }

    main .main .post-comments{
        align-items: center;
    }

    main .main .post{
        overflow-y: scroll;
    }

    main .main .post-comments .new-comment{
        width: 100%;
    }

    main .main .post-comments .title{
        width: 100%;
    }

    main .main .post::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    main .sidebar .bottom .user-profile{
        display: none;
    }
    main .main .post-comments{
        align-items: center;
    }
    main .main .post-comments .new-comment{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    main{
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        border-left: 1px solid white;
    }

    main .main{
        height: 90%;
        width: 100%;
    }

    main .sidebar{
        height: 10%;
        width: 100%;
        flex-direction: row;
        /* border: 1px solid white; */
    }

    main .sidebar .top{
        gap: 70px;
        flex-direction: row;
    }

    main .sidebar p{
    display: none;
    }

    main .main .post-comments .new-comment{
        width: 100%;
    }

    main .main .post-comments .cmnt .content .title small{
        display: none;
    }
    main .main .post-comments .comment-list{
        align-items: center;
    }
    main .main .post-comments .cmnt .profile{
        display: none;
   }
}   

#comment-update{
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #000000;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 250000;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    width: 50%;
    padding: 20px;
    margin: 15% auto;
    border-radius: 10px;
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, .1);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 100px;
}

main .main .new-post{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

main .main .new-post .post-creation{
    gap: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

main .main .new-post .post-creation #new-post{
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #000000;
}

main .main .new-post .post-creation .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .main .new-post .post-creation .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .main .new-post .additional-post-info{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main .new-post .additional-post-info input[type="file"]{
    display: none;
}

main .main .new-post .additional-post-info button{
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #1D9BF0;
}
