@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main{
    gap: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .login-form{
    gap: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register-form #sign-up-form{
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reguster-form #sign-up-form .title{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.register-form #sign-up-form .title h2{
    font-weight: 900;
    font-size: xx-large;
}

.form-inputs{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.form-inputs .email, .password, .first-name, .last-name, .profile-picture{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-inputs .email{
    width: 100%;
}

.form-inputs .email input[type="email"], input[type="password"], input[type="file"], input[type="text"]{
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #000000;
}

.form-inputs input[type="file"]{
    display: none;
}

.form-inputs .profile-picture .icon{
    gap: 15px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.forgot-pwd a{
    color: white;
    text-decoration: none;
}

.sign-up-btn{
    width: 100%;
}

.sign-up-btn button{
    width: 100%;
    border: none;
    color: white;
    padding: 10px 20px;
    background: #162D3A;
    border-radius: 10px;
}

.or-block{
    gap: 1rem;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5rem 1fr;
}

.sign-in{
    align-self: center;
}

.sign-in a{
    color: white;
    text-decoration: none;
}

.copyright{
    gap: 2px;
    width: 100%;
    display: flex;
    color: #959CB6;
    align-items: center;
    justify-content: center;
}

main .side-image{   
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .side-image  img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


@media screen and (max-width:800px) {
    main .side-image{
        display: none;
    }

    main .register-form .title p{
        display: none;
    }

    main .register-form{
        width: 100%;
        height: 100%;
    }
}

.loaderContainer{
    width: 100%;
    opacity: .5;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.loader {
    width: 1em;
    opacity: 1;
    height: 1em;
    font-size: 45px;
    color: #ffffff;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

   